/.ipynb_checkpoints
src/.ipynb_checkpoints
/.proj
/.project.json
/.virtual_documents
/.vscode
/archive
/__pycache__
plugged-old/
*.pyc
tags
test.*
temp*.*
*.ipynb
*checkpoint*.*
todo.md
*.log
*.pickle
.github


site/pack/deps/opt/blink.cmp/target/release/libblink_cmp_fuzzy.dll.sha256
site/pack/deps/opt/blink.cmp/target/release/version
